body 
{
    margin: 0px;
}

h1 
{
    color: black;
    text-align: center;
	margin: 0px;
}

h2
{
    color: black;
    text-align: center;
	margin: 5px;
}

p 
{
    font-family: verdana;
    font-size: 20px;
}

#banner
{
    min-width: 100%;
    min-height: 40px;
    background-color: black;
	padding-bottom: 62x;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1;
}

.button
{
	background-color: #ccd2dd;
    border-bottom: 2px solid black;
	min-width: 25%;
	min-height: 40px;
	float: left;
	text-align: center;
}

#btnHome
{
	//background-color: yellow;
}

#btnCode
{
	//background-color: green;
}

#btnStories
{
	//background-color: blue;
}

#btnletsTalk
{
	//background-color: red;
}

#picBanner
{
	//min-height: 800px;
	max-height: 1000px;
	min-width: 100%;
	overflow: hidden;
	//border: 0px solid black;
}

.mainImg
{
	min-width: 100%;
	//max-height: 200px;
	
	//display: block;
    //margin-left: auto;
    //margin-right: auto;
    //width: 40%;
}

.button:hover
{
	background-color: #a2a8b2;
}

.bannerQuart
{
	background-color: black;
    border-bottom: 0px solid black;
	min-width: 25%;
	max-width: 25%;
	min-height: 100%;
	float: left;
	text-align: center;
	//overflow: auto;
	padding-bottom: 0px;
	margin: 0px;
	
}

.mainImg:hover
{
	opacity: 0.8;
}

#test
{
    min-width: 100%;
    min-height: 4000px;
}

/*#picBan1
{
	background-color: red;
}
#picBan2
{
	background-color: blue;
}
#picBan3
{
	background-color: green;
}
#picBan4
{
	background-color: pink;
}*/